####################################
# Miscellaneous
####################################
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

####################################
# IntelliJ / Android Studio
####################################
*.iml
*.ipr
*.iws
.idea/

####################################
# VS Code
####################################
# Uncomment if you want to ignore VSCode settings
#.vscode/

####################################
# Flutter / Dart / Pub
####################################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

####################################
# Android build outputs
####################################
/android/app/debug
/android/app/profile
/android/app/release

####################################
# Android signing (VERY IMPORTANT)
####################################
key.jks
android/key.properties

####################################
# Firebase configuration (DO NOT COMMIT)
####################################
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

####################################
# Obfuscation / symbols
####################################
app.*.symbols
app.*.map.json

####################################
# macOS / Windows
####################################
Thumbs.db
desktop.ini
